html, body {
	height: 100%;
	font-family: sans-serif;
}

/*.drawer {
  background-color: white;
  display: inline;
  max-height: 400px;
  overflow-y: scroll;
  position: absolute;
  width: 150px;
  z-index: 10;
}*/

/*.listBtn {
 color: #000;
 background-color: #fff;
}*/

.fa-lg {
	color: #fff;
}

#list-panel {
	height: 100%;
	max-height: 550px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	z-index: 10;
	color: #fff;
	background-color: #337ab7;
}

#filterList {
	position : fixed;
	margin-bottom: .2em;
	width: 91%;
}

#show-pins {
	display: inline;
}

#list-content {
	background-color: #337ab7;
	color: #fff;
}

#list-content h3 {
	color: #fff;
	padding: .65em;
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	margin-top: 1%;
	padding: 0 13px 0 13px;
	text-overflow: ellipsis;
	width: 20em;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#list-view {
	margin-top: 5%;
	width: 100%;
	padding: .25em;
	height: 100%;
}

#list-item {
	list-style-type: none;
	padding: 0.75em;
	margin-top: .25em;
	width: 100%;
}

#list-item a {
	text-decoration: none;
	color: #fff;
	width: 100%;
	font-size: 18px;
}

@media(min-width: 750px){
	.container-fluid {
		height: 100%;
	}

	div .row{
		height: 100%;
		width: 100%;
	}

	#map {
		height: 100%;
		display: inline;
	}

	#list-panel {
		height: 550px;
		max-height: 550px;
		overflow-y: scroll;
		position: absolute;
		width: 100%;
		z-index: 10;
		color: #fff;
		background-color: #337ab7;
	}

}

@media (max-width: 749px) and (min-width: 481px){
	.container-fluid {
		height: 100%;
	}

	div .row{
		height: 100%;
		width: 100%;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 80%;
		display: block;
	}
}

@media(max-width: 480px) and (min-width: 350px){
	.container-fluid {
		height: 100%;
	}

	div .row{
		height: 100%;
		width: 100%;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 80%;
		display: block;
	}

}

@media(max-width: 349px){
	.container-fluid {
		height: 100%;
	}

	div .row{
		height: 100%;
		width: 100%;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 80%;
		display: block;
	}

	#pac-input {
		width: 10em;
	}

}