body, html {
	width: auto;
	height: auto;
	font-size: 20px;
}

#show-pins {
	display: inline;
}



#list-view {
	margin-top: 2%;
}

 #list-item {
	list-style-type: none;
	list-style-image: url('images/map-pin-red.png');
}

#list-item a {
	text-decoration: none;
	color: #000;
}

@media(min-width: 750px){
	.fluid-container {
		height: 700px;
		width: 750px;
	}
	#map {
		margin-top: 2%;
		margin-left: 2%;
	    height: 70%;
	    width: 80%;
	    display: inline;
	}
}
@media (max-width: 749px) and (min-width: 481px){
	.fluid-container {
		height: 450px;
		width: 475px;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 70%;
		width: 80%;
	}
}

@media(max-width: 480px) and (min-width: 350px){
	.fluid-container {
		height: 350px;
		width: 345px;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 70%;
		width: 80%;
	}
}

@media(max-width: 349px){
	.fluid-container {
		height: 340px;
		width: 340px;
	}

	#map {
		margin-top: 2%;
		margin-left: 2%;
		height: 70%;
		width: 80%;
	}
}